//fonts
$body-font: "DM Sans", sans-serif;

// colors
$white: #e0e4e7;
$dark-1: #242731;
$dark-2: #5f6165;
$dark-3: #72767c;
$dark-4: #7c7c8d;
$dark-5: #a4a5a6;

$purple: #a162f7;
$blue: #2884ff;
$yellow: #f6cc0d;
$red: #ff6370;
$green: #70cf97;
$orange: #ff764c;
